@{
    ViewBag.Title = "Create Slider";
}

<form>
    <div class="container mt-5">
        <div class="form-group row">
            <label for="ftitle"
                   class="col-sm-3 text-end control-label col-form-label">Title</label>
            <div class="col-sm-9">
                <input type="text"
                       class="form-control"
                       id="ftitle"
                       placeholder="Title Here" />
            </div>
        </div>

        <div class="form-group row">
            <label for="fdesc"
                   class="col-sm-3 text-end control-label col-form-label">Description</label>
            <div class="col-sm-9">
                <input type="text"
                       class="form-control"
                       id="fdesc"
                       placeholder="Description Here" />
            </div>
        </div>

        <button class="btn btn-success mt-5" type="submit">Create</button>

        <a style="width: 60px;" class="btn btn-primary mt-5" asp-area="Admin" asp-controller="Slider" asp-action="Index">Back</a>
    </div>
</form>